<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        fucking slaves
      </li>
      <li class="list-group-item">
        sticking finger in your a$$
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>"Кружок кожевенного мастерства"</p>
  </article>
</div>
{% endblock %}